@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Heebo", sans-serif;
}

header {
  background: rgb(250, 186, 134);
  padding: 1%;
  flex: 1 1 100%;
}

main {
  display: flex;
  height: 100vh;
  flex: 1 1 100%;
}

aside {
  flex: 1 1 auto;

  border: 2px solid #f1f1f1;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.active {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.project-container {
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-title {
  padding: 3%;
  flex: 1 1 100%;
}

.project-title:hover {
  cursor: pointer;
}

.add-project-form {
  display: flex;
  padding: 5%;
}

.add-project-form input {
  padding: 2%;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  margin: 1%;
  flex: 1 1 60%;
}

.add-project-btn {
  background: rgb(255, 255, 255);
  font-size: 1.3rem;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  border-radius: 30%;
  margin: 1%;
  flex: 1 1 40%;
}

.add-project-form input[type="text"]:focus {
  background-color: rgb(238, 238, 238);
  border-color: #000;
}

.add-task {
  background: rgb(255, 255, 255);
  border: 0 solid #f0efe2;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  font-family: inherit;
  font-size: inherit;
}

.add-task-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
}

.add-task-form input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 1%;
  margin: 1%;
}

.add-task-btn {
  background: rgb(255, 255, 255);
  font-size: 1.3rem;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  border-radius: 30%;
  margin: 1%;
}

section {
  background: #fff;
  flex: 1 1 70%;
}

.task {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
  flex: 1 1 100%;

  transition: 0.3s box-shadow;
}

.task:hover {
  box-shadow: 0 0 5px #ccc;
  cursor: pointer;
}

.task-fields {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 1 1 80%;
}
.task-fields .checkbox {
  flex: 1 1 10%;
}

.task-fields p {
  flex: 1 1 40%;
}
.task-fields .task-text {
  display: flex;
  align-items: center;
  flex: 1 1 50%;
  width: 100%;
}

.task-description {
  position: absolute;
}

.task .controlBtn {
  display: flex;
  flex: 1 1 20%;
}

.controlBtn div {
  margin: auto;
}

.is-done {
  text-decoration: line-through;
  color: rgb(172, 171, 171);
}

.edit-task {
  position: relative;
  padding: 1%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
}

.edit-task-active {
  display: block;
}
